<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/templates/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
<main>
    <div id="header-div" class="">
        <h1 class="">{{.Content}}</h1>
    </div>
    <!-- link input and shorten button -->
    <div id="content-div">
        <div id="input-div">
            <label for="input-field"></label>
            <input type="text" class="text-field content-row" placeholder="Enter URL here . . ." id="input-field"
                   required/>
            <button id="shorten" type="button" class="content-row button">Shorten URL</button>
            <button type="button" id="clear-btn" class="content-row button">Clear</button>
        </div>
        <!-- Output and copy -->
        <div id="output-div">
            <div class="content-row" id="new-url-label">Your short URL:</div>
            <div id="new-url" class="content-row"></div>
            <button type="button" id="copy-btn" data-clipboard-target="#new-url" class="content-row button">Copy
            </button>
        </div>
        <div class="" id="error-div">
            <p class="content-row" id="error-text"></p>
        </div>

        <h2 class="mb-3 text-format d-flex justify-content-center">History of Shortened URLs</h2>

        <div class="history-container">
            <div class="card mb-3">
                <div class="card-header bg-light">
                    <h3 class="h5 mb-0">{{ .Date }}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {{ range .ShortenedUrls }}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="text-truncate" href="http://google.com" target="_blank" rel="noopener noreferrer">
                            {{shorten .OriginalURL}}
                        </a>
                        <a href="/{{.ShortUrl}}" class="badge bg-secondary">{{.ShortUrl}}</a>
                        <p class="badge bg-secondary">{{.Clicks}}</p>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</main>
<!--App script-->
<script src="/templates/assets/js/app.js"></script>
</body>

</html>